<h1>faisaljassim</h1>
<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/news-and-events">News and Events</a></li>
    <li><a routerLink="/brochures">Brochures</a></li>
    <li><a routerLink="/training-and-education">Training and Education</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/accreditations">Accreditations</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
